@page "/products"
@attribute [StreamRendering]

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<p>Kalabaw Foods Online Store Products.</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>In Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Title</td>
                    <td>@product.Price</td>
                    <td>@product.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        products = new List<Product> {
            new Product(
                "Bahay Kubo Sausage",
               7.99,
               41),
            new Product(
                "Canned Kalabaw Liver",
                3.59,
                13
            ),
            new Product("Horn Powder",
                69.99,
                9
            )
        };
    }

    private class Product
    {
        public string Title { get; init; }
        public double Price  { get; init; }
        public int Count { get; init; }

        public Product(string title, double price, int count)
        {
            Title = title;
            Price = price;
            Count = count;
        }
    }
}
